#{extends 'main.html' /}
#{set title:'Super Villains list' /}

<div class="p-12">
    <h3 class="mb-8 text-center font-medium text-gray-500" style="font-size: 3rem;">List of unmasked Super-villains</h3>

    #{list superVillainsList, as:'villain'}
    <a href="/supervillain/show/${villain.id}">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                <div class="p-4 sm:px-20 bg-white border-b border-gray-200">
                    <div class="flex flex-row my-4 text-2xl">

                       

                        <div class="flex flex-col ml-5">
                            <div class="font-medium text-base text-gray-800" style="font-size: 1.5rem;">
                                ${villain.name} - Malioucious score : <span class="text-enedisG-100">${villain.malicious_score}</span>
                            </div>

                            <div class="font-medium text-base text-gray-800" style="font-size: 0.7rem;">
                                <span class="text-enedisG-100">Powers</span> : ${villain.power}
                            </div>
                            <div class="font-medium text-base text-gray-800" style="font-size: 0.7rem;">
                                <span class="text-enedisG-100">Weakness</span> : ${villain.weakness}
                            </div>

                            

                            <div class="font-medium text-xs text-gray-500">
                                unmasked the <span class="text-enedisB-100 font-semibold">${villain.created_at}</span>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </a>
    #{/list}

</div>
