#{extends 'main.html' /}
#{set title:'Supervillain' /}

<div class="p-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
                <div class="flex flex-row my-8 text-2xl">

                    <img class="h-32 w-32 rounded-full object-cover"
                         src="https://ui-avatars.com/api/?name=${s.identity.getName()}&amp;color=7F9CF5&amp;background=EBF4FF"
                         alt="${s.identity.getName()}"/>

                    <div class="flex flex-col ml-5">
                        <div class="font-medium text-base text-gray-800" style="font-size: 3rem;">
                            <span class="text-red-700">${s.name}</span>
                            <span class="text-gray-500">secret identity :</span><br>
                            ${s.identity.getName()}
                        </div>

                        #{if s.identity.getOrg()}
                        <div class="font-medium text-sm text-gray-500"
                             style="font-size: 1.5rem; margin-left: 5px;">
                            Boss of
                            <span class="text-red-700">${s.identity.getOrg().name}</span>
                            organisation
                        </div>
                        #{/if}

                        <div class="font-medium text-sm text-gray-500" style="margin-left: 5px;">
                            Unmasked the <span
                                class="text-red-700 font-semibold">${s.created_at}</span>
                        </div>
                        
                     
                        <div class="font-medium text-sm text-gray-500 pt-3" style="margin-left: 5px;">
                            Supervillain score: <span class="text-red-800 font-semibold">${s.malicious_score}</span>
                        </div>
                        <div class="font-medium text-sm text-gray-500 pt-3" style="margin-left: 5px;">
                            Power(s): <span class="text-enedisG-100 font-semibold">${s.power}</span>
                        </div>
                        <div class="font-medium text-sm text-gray-500 pt-3" style="margin-left: 5px; margin-top: -10px;">
                            Weakness(es): <span class="text-enedisB-100 font-semibold">${s.weakness}</span>
                        </div>
                        <hr class="mx-10 my-6">
                        <div class="font-medium text-sm text-gray-500" style="margin-left: 5px;">
                            Address: <span class="text-enedisB-100 font-semibold">${s.identity.address}</span>
                        </div>
                        <div class="font-medium text-sm text-gray-500" style="margin-left: 5px;">
                            Mail: <span class="text-enedisB-100 font-semibold">${s.identity.mail}</span>
                        </div>
                        <div class="font-medium text-sm text-gray-500" style="margin-left: 5px;">
                            Phone <span class="text-enedisB-100 font-semibold">${s.identity.phone}</span>
                        </div>
                        <div class="font-medium text-sm text-gray-500" style="margin-left: 5px;">
                            Birthdate: <span class="text-enedisB-100 font-semibold">${s.identity.birthdate}</span>
                        </div>
                        <div class="font-medium text-sm text-gray-500" style="margin-left: 5px;">
                            Nationality: <span class="text-enedisB-100 font-semibold">${s.identity.nationality}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>