#{extends 'main.html' /}
#{set title:'Superuser accesses' /}


<div class="py-12">
    #{if validHeroList}
    <h3 class="mb-8 text-center font-medium text-gray-500" style="font-size: 3rem;">New Super Heroes</h3>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">

            <ul class="list-unstyled">
                #{list validHeroList, as:'validHero'}
                <li class="media p-3 mx-5 border-b border-gray-200 flex flex-row">

                    <div class="media-body md:w-2/4">
                        <div class="flex flex-row justify-between items-center font-semibold">
                            <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${validHero.identity.fname}
                                ${validHero.identity.lname}</h5>
                        </div>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">Super Hero Name: ${validHero.name}</h5>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">Super Power: ${validHero.power}</h5>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">Weakness: ${validHero.weakness}</h5>
                    </div>
                    <div class="md:w-2/4">
                        <a href="@{SuperUsers.validRole(validHero.id, true, true )}">
                            <div class="flex justify-center items-center m-1 font-medium py-1 px-2 rounded-full text-white bg-green-500 border border-green-500 ">
                                <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                    <i class="fas fa-check w-4 h-4" style="font-size: 10px;"></i>
                                </span>
                                <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                    Accept
                                </div>
                            </div>
                        </a>
                        <a href="@{SuperUsers.validRole(validHero.id, false, true )}">
                            <div class="flex justify-center items-center m-3 font-medium py-1 px-2 rounded-full text-white bg-red-500 border border-red-500 ">
                                <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                    <i class="fas fa-times w-4 h-4" style="font-size: 10px;"></i>
                                </span>
                                <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                    Reject
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                #{/list}
            </ul>
        </div>
    </div>
    #{/if}

    #{if validCitizenList}
    <h3 class="mb-8 text-center font-medium text-gray-500" style="font-size: 3rem;">Requests to be an authority</h3>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">

            <ul class="list-unstyled">
                #{list validCitizenList, as:'validCitizen'}
                <li class="media p-3 mx-5 border-b border-gray-200 flex flex-row">

                    <div class="media-body md:w-2/4">
                        <div class="flex flex-row justify-between items-center font-semibold">
                            <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${validCitizen.fname}
                                ${validCitizen.lname}</h5>
                        </div>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${validCitizen.mail}</h5>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${validCitizen.address}</h5>
                        <span class="mt-0 mb-1 font-weight-bolder"
                              style="color: #999999">${validCitizen.comments}</span>
                    </div>
                    <div class="md:w-2/4">
                        <a href="@{SuperUsers.validRole(validCitizen.id, true, false )}">
                            <div class="flex justify-center items-center m-3 font-medium py-1 px-2 rounded-full text-white bg-green-500 border border-green-500 ">
                                <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                    <i class="fas fa-check w-4 h-4" style="font-size: 10px;"></i>
                                </span>
                                <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                    Accept
                                </div>
                            </div>
                        </a>
                        <a href="@{SuperUsers.validRole(validCitizen.id, false, false )}">
                            <div class="flex justify-center items-center m-3 font-medium py-1 px-2 rounded-full text-white bg-red-500 border border-red-500 ">
                                <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                    <i class="fas fa-times w-4 h-4" style="font-size: 10px;"></i>
                                </span>
                                <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                    Reject
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                #{/list}
            </ul>
        </div>
    </div>
    #{/if}

    <h3 class="mb-8 text-center font-medium text-gray-500" style="font-size: 3rem;">Citizens</h3>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">

            <ul class="list-unstyled">
                #{list citizenList, as:'citizen'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">
                        <div class="flex flex-row justify-between items-center font-semibold">
                            <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${citizen.fname} ${citizen.lname}</h5>
                        </div>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${citizen.mail}</h5>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${citizen.address}</h5>
                        <span class="mt-0 mb-1 font-weight-bolder" style="color: #999999">${citizen.comments}</span>
                    </div>
                </li>
                #{/list}
            </ul>
        </div>
    </div>

    <h3 class="mb-8 text-center font-medium text-gray-500 pt-10" style="font-size: 3rem;">Organizations</h3>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">

            <ul class="list-unstyled">
                #{list organizationList, as:'organization'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">
                        <div class="flex flex-row justify-between items-center font-semibold">
                            <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${organization.name}</h5>
                        </div>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1l">${organization.address}</h5>
                        <span class="mt-0 mb-1 font-weight-bolder"
                              style="color: #999999">${organization.comments}</span>
                    </div>
                </li>
                #{/list}
            </ul>
        </div>
    </div>

    <h3 class="mb-8 text-center font-medium text-gray-500 pt-10" style="font-size: 3rem;">Super Heroes</h3>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">

            <ul class="list-unstyled">
                #{list superHeroList, as:'superhero'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">
                        <div class="flex flex-row justify-between items-center font-semibold">
                            <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${superhero.name}</h5>
                        </div>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${superhero.identity?.name}</h5>
                        <span class="mt-0 mb-1 font-weight-bolder" style="color: #999999">${superhero.comments}</span>
                    </div>
                </li>
                #{/list}
            </ul>
        </div>
    </div>

    <h3 class="mb-8 text-center font-medium text-gray-500 pt-10" style="font-size: 3rem;">Super Villains</h3>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">

            <ul class="list-unstyled">
                #{list superVillainList, as:'supervillain'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">
                        <div class="flex flex-row justify-between items-center font-semibold">
                            <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${supervillain.name}</h5>
                        </div>
                        <h5 class="mt-0 mb-1 font-weight-bolder text-1xl">${supervillain.identity?.name}</h5>
                        <span class="mt-0 mb-1 font-weight-bolder"
                              style="color: #999999">${supervillain.comments}</span>
                    </div>
                </li>
                #{/list}
            </ul>
        </div>
    </div>
</div>
