#{extends 'main.html' /}
#{set title:'Profile' /}



<div class="p-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
                <div class="flex flex-row my-8 text-2xl">

                    <img class="h-32 w-32 rounded-full object-cover"
                        src="https://ui-avatars.com/api/?name=${citizen?.getName()}&amp;color=7F9CF5&amp;background=EBF4FF"
                        alt="${citizen?.getName()}" />

                    <div class="flex flex-col ml-5">
                        <div class="font-medium text-base text-gray-800" style="font-size: 3rem;">
                            ${citizen?.getName()} #{if superhero} <span class="text-gray-500">also known as </span>
                            <span class="text-enedisB-100">${superhero.name}</span> #{/if}
                        </div>
                        <div class="font-medium text-sm text-gray-500"
                            style="font-size: 1.5rem; margin-top: -10px; margin-left: 5px;">
                            ${citizen?.mail}
                        </div>
                        #{if citizen.getOrg()}
                        <div class="font-medium text-sm text-gray-500"
                            style="font-size: 1.5rem; margin-left: 5px;">
                            Boss of <span class="text-enedisB-100">${citizen.getOrg().name}</span> organisation
                        </div>
                        #{/if}
                        <div class="font-medium text-sm text-gray-500" style="margin-left: 5px;">
                            inscribed the <span class="text-enedisB-100 font-semibold">${citizen?.created_at}</span>
                        </div>
                        #{if superhero}
                        <div class="font-medium text-sm text-gray-500 pt-3" style="margin-left: 5px;">
                            Superhero score: <span class="text-enedisG-100 font-semibold">${superhero.score}</span>
                        </div>
                        #{/if}
                    </div>

                </div>
            </div>

            <div class="bg-gray-200 bg-opacity-25 grid grid-cols-1 md:grid-cols-2">
                <div class="p-6 border-gray-200">
                    <div class="flex items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
                            <path
                                d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253">
                            </path>
                        </svg>
                        <div
                            class="ml-4 text-lg text-gray-600 leading-7 flex flex-row justify-between items-center font-semibold w-full">
                            Missions you're implicated in

                            <span class="ml-1 text-gray-500">
                                <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="ml-8">
                        <div class="mt-2 text-xs text-gray-500">
                            #{if missions}
                            #{list missions, as:'mission'}
                            <a href="/mission/show/${mission.id}" class="no-hover">
                                <p>
                                    ${mission.title} - <span class="text-gray-400">${mission.incident.title}</span> at
                                    <span class="text-gray-300">${mission.address}</span>
                                </p>
                            </a>
                            #{/list}
                            #{/if}
                            #{else}
                            <p>There's no mission for you</p>
                            #{/else}

                        </div>
                    </div>


                </div>

                <div class="p-6 border-gray-200 md:border-l">
                    <div class="flex items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-400">
                            <path
                                d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253">
                            </path>
                        </svg>
                        <div
                            class="ml-4 text-lg text-gray-600 leading-7 flex flex-row justify-between items-center font-semibold w-full">
                            Incidents you've reported

                            <span class="ml-1 text-gray-500">
                                <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="ml-8">
                        <div class="mt-2 text-xs text-gray-500">
                            #{if incidents}
                            #{list incidents, as:'incident'}
                            <a href="/incident/show/${incident.id}" class="no-hover">
                                <p>
                                    ${incident.title} - <span class="text-gray-400">${incident.address}</span>
                                </p>
                            </a>
                            #{/list}

                            #{/if}
                            #{else}
                            <p>You haven't reported anything.</p>
                            #{/else}

                        </div>
                    </div>


                </div>


            </div>

        </div>
    </div>
</div>
