#{extends 'main.html' /}

#{set title:'Report an incident' /}

<form action="@{Incidents.create}" method="POST">
    ${flash.error}
    <input type="text" required placeholder="Title" name="incident.title"/>
    <input type="text" required placeholder="Address" name="incident.address"/>
    <!--    TODO: replace by currently logged in user-->
    <select required name="incident.citizen.id">
        #{list cList, as:'c'}
        <option value="${c.id}">${c.getName()}</option>
        #{/list}
    </select>
    <hr />
    <button type="submit">Envoyer</button>
</form>
