#{extends 'main.html' /} #{set title:'Report an incident' /}

<div class="">
    #{ifErrors}
    <h1>Oops…</h1>

    #{errors}
    <li>${error}</li>

    #{/errors}
    <hr />
    #{/ifErrors}
</div>

<div class="p-10">
    <h3 class="mb-8 text-center font-medium text-gray-500" style="font-size: 3rem;">Report an Incident</h3>
    <form action="@{Incidents.create}" method="POST" enctype="multipart/form-data">
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Incident title
                </label>

            </div>
            <div class="md:w-2/4">
                #{if incidentNb != 0}
                <input type="text" required placeholder="Title" name="incident.title"
                    value="Incident #${incidentsNb + 1}" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                   w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none
                   focus:bg-white focus:border-enedisB-100">
                #{/if}
                #{else}
                <input type="text" required placeholder="Title" name="incident.title" value="Incident #1" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded
                   w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none
                   focus:bg-white focus:border-enedisB-100">
                #{/else}
            </div>

        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Incident address
                </label>

            </div>
            <div class="md:w-2/4">
                <input type="text" required placeholder="Address" name="incident.address"
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100">
            </div>

        </div>


        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="comments">
                    Comments
                    <span class="ml-2 text-red-700 font-bold">*</span>
                </label>
            </div>
            <div class="md:w-2/4">
                <textarea name="incident.comments"
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
                    id="comments" rows="5"></textarea>
            </div>
        </div>

        #{if organization}
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <span class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Report as
                </span>
            </div>
            <div class="md:w-1/6">
                <label class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="citizen">
                    Citizen
                </label>
                <input type="radio" checked value="civil" name="reporter_type" id="citizen">
            </div>
            <div class="md:w-2/4">
                <label class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="organization">
                    Organization
                </label>
                <input type="radio" value="organization" name="reporter_type" id="organization">
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                    Reporter
                </label>
            </div>
            <div class="md:w-2/4">
                <input name="incident.citizen.id" readonly value="${user.id}" type="hidden">
                <input readonly value="${user.getName()}"
                    class="bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-800 leading-tight"
                    type="text"
                    id="citizen-text"
                    style="display: block;">
                <input readonly value="${organization?.name}"
                    class="bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-800 leading-tight"
                    type="text"
                    id="organization-text"
                    style="display: none;">
            </div>
        </div>
        #{/if}
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="image">
                    Incident picture
                </label>
            </div>
            <div class="md:w-2/4">
                <style>
                    .custom-file {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: calc(1.5em + .75rem + 2px);
                        margin-bottom: 0;
                    }

                    .custom-file-input {
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        height: calc(1.5em + .75rem + 2px);
                        margin: 0;
                        opacity: 0;
                    }

                    .custom-control-label::before,
                    .custom-file-label,
                    .custom-select {
                        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    }

                    .custom-file-label {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        z-index: 1;
                        height: calc(1.5em + .75rem + 2px);
                        font-weight: 400;
                        line-height: 1.0;
                        border-radius: .25rem;
                    }

                    .custom-file-label::after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        display: block;
                        height: calc(1.5em + .75rem);
                        padding: .375rem .75rem;
                        line-height: 1.5;
                        color: #495057;
                        content: "Browse";
                        background-color: #e9ecef;
                        border-left: inherit;
                        border-radius: 0 .25rem .25rem 0;
                    }
                </style>

                <div class="custom-file">
                    <input type="file"
                        class="custom-file-input bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
                        id="image" name="incident.picture">
                    <label
                        class="custom-file-label bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
                        for="image">Upload a picture</label>
                </div>

            </div>
        </div>

        <input name="incident.state" readonly value="todo" hidden>

        <div class="md:flex md:items-center">
            <div class="md:w-1/4"></div>
            <div class="md:w-2/4">
                <button
                    class="shadow bg-enedisB-100 hover:bg-enedisB-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="submit">
                    Declare the incident
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    let civilianText = document.getElementById('citizen-text');
    let organizationText = document.getElementById('organization-text');

    document.getElementById('citizen').onclick = () => {
        organizationText.style.display = 'none';
        civilianText.style.display = 'block';
    }

    document.getElementById('organization').onclick = () => {
        organizationText.style.display = 'block';
        civilianText.style.display = 'none';
    }
</script>
