#{extends 'main.html' /}
#{set title:'Incident'/}
<div class="py-12">
    <div class="max-w-7xl mx-auto xs:px-3 sm:px-6 md:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            <div class="sm:px-20 xs:px-8 bg-white border-b border-gray-200">
                <div class="flex flex-column mt-8 mb-3">
                    <div class="md:flex md:items-center mb-6">
                        <div class="flex flex-row">
                            #{if incident.pictureData}
                            <a href="@@{Incidents.getFile(incident.id)}" target="_blank">
                                <img class="w-32 h-32 mr-5" src="@@{Incidents.getFile(incident.id)}" alt="Incident picture">
                            </a>
                            #{/if}

                            <div class="flex flex-col">
                                <h4 class="font-semibold" style="font-size: 3rem;">${incident.title}</h4>
                                <div class="text-xs ml-5 flex flex-row">
                                    created on <span
                                        class="font-semibold text-enedisB-100 ml-1">${incident.created_at}</span>,
                                    #{if incident.created_at != incident.updated_at}
                                    updated last on <span
                                        class="font-semibold text-enedisB-100 ml-1">${incident.updated_at}, </span>
                                    #{/if}
                                    by
                                    #{if incident.is_organization}
                                    <span class="font-semibold text-enedisB-100 mx-1">
                                        ${incident.citizen.getOrg().name} organization
                                    </span>
                                    (<span class="font-semibold text-gray-600">
                                        ${incident.citizen.getName()}
                                    </span>)

                                    #{/if}
                                    #{else}
                                    <span class="font-semibold text-enedisB-100 ml-1">
                                        ${incident.citizen.getName()}
                                    </span>
                                    #{/else}

                                </div>
                                <div class="text-xs ml-5 flex flex-row">
                                    located at <span
                                        class="font-semibold text-enedisB-100 ml-1">${incident.address}</span>
                                </div>
                                <p class="lead ml-4 mt-2">${incident.comments}</p>

                                <div class="flex flex-row mt-6 space-x-4">

                                    #{if user?.id == incident.citizen.id || user?.is_superuser}
                                    <a href="/incident/edit/${incident.id}"
                                        class="bg-gray-500 hover:text-white border-gray-600 hover:bg-gray-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                        type="submit">
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit
                                    </a>
                                    #{/if}
                                    #{if user?.is_authority || user?.is_superuser}
                                    #{if incident.mission == null}
                                    <a href="/mission/create/${incident.id}"
                                        class="bg-enedisG-100 border-enedisG-100 hover:bg-enedisG-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                        type="submit">
                                        <i class="fas fa-rocket"></i>
                                        Launch a mission
                                    </a>
                                    #{/if}
                                    <a href="#"
                                        class=" bg-red-500 hover:text-white border-red-600 hover:bg-red-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                        type="submit">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Close
                                    </a>
                                    #{/if}


                                </div>

                            </div>
                        </div>



                    </div>

                </div>

                <!-- here                 -->
                #{if mission}
                <div class="media-body m-6 p-6 rounded shadow-xl">

                    <div class="flex flex-row justify-between items-center font-semibold">
                        <a href="/mission/show/${mission.id}">
                            <h5 class="mt-0 mb-1 font-weight-bolder text-2xl">${mission.title}</h5>
                        </a>

                        <span class="flex flex-row space-x-3 items-center">
                            <!-- Missions.status ? <form action="" method="POST"> -->
                            <a href="/mission_report/create/${mission.id}">
                                <div
                                    class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-white bg-enedisB-100 border border-enedisB-100 ">
                                    <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                        <i class="fas fa-plus w-4 h-4" style="font-size: 10px;"></i>
                                    </span>
                                    <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                        Create a mission report
                                    </div>
                                </div>
                            </a>

                            <button type="submit">
                                <div
                                    class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-green-600 rounded-full text-white border border-green-600 ">
                                    <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                        <i class="fas fa-check w-4 h-4" style="font-size: 10px;"></i>
                                    </span>
                                    <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                        Mark as closed
                                    </div>
                                </div>
                            </button>
                            <input hidden name="id" value="${mission.id}">
                            <!-- </form> -->

                            <!--                                <a href="/mission/edit/${mission.id}">-->
                            <!--                                    <div-->
                            <!--                                            class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-white text-yellow-700 border border-yellow-500 ">-->
                            <!--                                        <span slot="avatar" style="height: 12px; margin-top: -16px;">-->
                            <!--                                            <i class="fas fa-pencil-alt w-4 h-4" style="font-size: 10px;"></i>-->
                            <!--                                        </span>-->
                            <!--                                        <div class="text-xs font-normal leading-none max-w-full flex-initial">-->
                            <!--                                            Edit-->
                            <!--                                        </div>-->

                            <!--                                    </div>-->
                            <!--                                </a>-->
                            <a href="/mission/delete/${mission.id}">
                                <div
                                    class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-red-700 border border-red-500 ">
                                    <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                        <i class="fas fa-trash-alt w-4 h-4" style="font-size: 10px;"></i>
                                    </span>
                                    <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                        Delete
                                    </div>

                                </div>
                            </a>
                            <a href="/mission/show/${mission.id}" class="text-gray-500">
                                <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </span>
                    </div>


                    ${mission.informations}
                    <div class="flex flex-row align-items-center mt-2 border-gray-100 text-xs font-semibold">
                        <span class="text-enedisB-100 font-semibold">
                            ${mission.address}
                        </span>
                        , created at
                        <span class="text-enedisB-100 font-semibold mx-1">
                            ${mission.created_at}
                        </span>
                        , last updated at
                        <span class="text-enedisB-100 font-semibold mx-1">
                            ${mission.updated_at}
                        </span>

                    </div>
                    <div class="flex flex-row align-items-center mb-2 text-xs">
                        Implicated superheroes :
                        <p class="ml-1">
                            #{if mission.super_heroes_list}
                            #{list mission.super_heroes_list, as:'sh'}
                            ${sh.name}

                            #{/list}
                            #{/if}
                        </p>
                    </div>
                </div>

                #{/if}
                #{else}
                <div class="p-12 border-b">
                    <div class="flex content-center items-center">
                        <p>Still no mission launched. 😶</p>

                    </div>
                </div>
                #{/else}

            </div>


        </div>
    </div>
</div>