#{extends 'main.html' /}
#{set title:'Incidents list' /}

<div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            <div class="sm:px-20 border-b border-gray-300">
                <div class="flex flex-column py-6">
                    <h4 class="font-semibold text-5xl">Reported incidents</h4>
                </div>
                
            </div>
            <ul class="list-unstyled">

                #{list incidentsList, as:'incident'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">
                        <a href="/incident/show/${incident.id}">
                            <div class="d-flex flex-row justify-between items-center font-semibold w-full">
                                <h5 class="mt-0 mb-1 font-weight-bolder text-2xl">${incident.title}</h5>

                                <span class="ml-1 text-gray-500">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                        <path fill-rule="evenodd"
                                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>

                        ${incident.comments}
                        <div class="d-flex flex-row align-items-center my-2 border-t border-gray-100 ">
                            <span class="text-enedisB-100"> 
                                ${incident.address}
                            </span>
                            , created at
                            <span class="text-enedisB-100">
                                ${incident.created_at}
                            </span>
                            , last updated at 
                            <span class="text-enedisB-100">
                                ${incident.updated_at}
                            </span>

                        </div>
                    </div>
                </li>
                #{/list}

            </ul>
        </div>
    </div>

</div>

