#{extends 'main.html' /}
#{set title:'Reported incidents' /}

<div class="py-12">
    <h3 class="mb-8 text-center font-medium text-gray-500" style="font-size: 3rem;">Incidents list</h3>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            <div class="sm:px-20 border-b border-gray-300">
                <div class="flex flex-column py-6">
                    <h6 class="font-semibold text-4xl">To treat</h6>
                </div>

            </div>
            <ul class="list-unstyled">

                #{list incidentsList, as:'incident'}
                #{if incident.state == 'todo'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">

                        <div class="flex flex-row justify-between items-center font-semibold">
                            <a href="/incident/show/${incident.id}">
                                <h5 class="mt-0 mb-1 font-weight-bolder text-2xl">${incident.title}</h5>
                            </a>

                            <span class="flex flex-row space-x-3 items-center">
                                <form action="@{Incidents.setAside}" method="POST">
                                    <button type="submit">
                                        <div class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-green-600 rounded-full text-white border border-green-600 ">
                                            <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                                <i class="fas fa-plus w-4 h-4" style="font-size: 10px;"></i>
                                            </span>
                                            <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                                Set state to "Aside"
                                            </div>
                                        </div>
                                    </button>
                                    <input hidden name="id" value="${incident.id}">
                                </form>
                                <a href="">
                                    <div
                                            class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-white bg-enedisB-100 border border-enedisB-100 ">
                                        <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                            <i class="fas fa-plus w-4 h-4" style="font-size: 10px;"></i>
                                        </span>
                                        <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                            Create a mission
                                        </div>

                                    </div>
                                </a>
                                <a href="/incident/edit/${incident.id}">
                                    <div
                                            class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-white text-yellow-700 border border-yellow-500 ">
                                        <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                            <i class="fas fa-pencil-alt w-4 h-4" style="font-size: 10px;"></i>
                                        </span>
                                        <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                            Edit
                                        </div>

                                    </div>
                                </a>
                                <a href="/incident/delete/${incident.id}">
                                    <div
                                            class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-red-700 border border-red-500 ">
                                        <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                            <i class="fas fa-trash-alt w-4 h-4" style="font-size: 10px;"></i>
                                        </span>
                                        <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                            Delete
                                        </div>

                                    </div>
                                </a>
                                <a href="/incident/show/${incident.id}" class="text-gray-500">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                        <path fill-rule="evenodd"
                                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </span>
                        </div>


                        ${incident.comments}
                        <div class="flex flex-row align-items-center my-2 border-gray-100 ">
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.address}
                            </span>
                            , created at
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.created_at}
                            </span>
                            , last updated at
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.updated_at}
                            </span>

                        </div>
                    </div>
                </li>
                #{/if}
                #{/list}

            </ul>
        </div>

        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-5">
            <div class="sm:px-20 border-b border-gray-300">
                <div class="flex flex-column py-6">
                    <h5 class="font-semibold text-4xl">Treated</h5>
                </div>

            </div>
            <ul class="list-unstyled">

                #{list incidentsList, as:'incident'}
                #{if incident.state == 'ended'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">

                        <div class="flex flex-row justify-between items-center font-semibold">
                            <a href="/incident/show/${incident.id}">
                                <h5 class="mt-0 mb-1 font-weight-bolder text-2xl">${incident.title}</h5>
                            </a>

                            <span class="flex flex-row space-x-3 items-center">
                                <a href="/incident/delete/${incident.id}">
                                    <div
                                            class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-red-700 border border-red-500 ">
                                        <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                            <i class="fas fa-trash-alt w-4 h-4" style="font-size: 10px;"></i>
                                        </span>
                                        <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                            Delete
                                        </div>

                                    </div>
                                </a>
                                <a href="/incident/show/${incident.id}" class="text-gray-500">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                        <path fill-rule="evenodd"
                                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </span>
                        </div>


                        ${incident.comments}
                        <div class="flex flex-row align-items-center my-2 border-gray-100 ">
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.address}
                            </span>
                            , created at
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.created_at}
                            </span>
                            , last updated at
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.updated_at}
                            </span>

                        </div>
                    </div>
                </li>
                #{/if}
                #{/list}

            </ul>
        </div>

        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-5">
            <div class="sm:px-20 border-b border-gray-300">
                <div class="flex flex-column py-6">
                    <h5 class="font-semibold text-4xl">Aside</h5>
                </div>

            </div>
            <ul class="list-unstyled">

                #{list incidentsList, as:'incident'}
                #{if incident.state == 'aside'}
                <li class="media p-3 mx-5 border-b border-gray-200">

                    <div class="media-body">

                        <div class="flex flex-row justify-between items-center font-semibold">
                            <a href="/incident/show/${incident.id}">
                                <h5 class="mt-0 mb-1 font-weight-bolder text-2xl">${incident.title}</h5>
                            </a>

                            <span class="flex flex-row space-x-3 items-center">
                                <a href="/incident/delete/${incident.id}">
                                    <div
                                            class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-red-700 border border-red-500 ">
                                        <span slot="avatar" style="height: 12px; margin-top: -16px;">
                                            <i class="fas fa-trash-alt w-4 h-4" style="font-size: 10px;"></i>
                                        </span>
                                        <div class="text-xs font-normal leading-none max-w-full flex-initial">
                                            Delete
                                        </div>

                                    </div>
                                </a>
                                <a href="/incident/show/${incident.id}" class="text-gray-500">
                                    <svg viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                        <path fill-rule="evenodd"
                                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </span>
                        </div>


                        ${incident.comments}
                        <div class="flex flex-row align-items-center my-2 border-gray-100 ">
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.address}
                            </span>
                            , created at
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.created_at}
                            </span>
                            , last updated at
                            <span class="text-enedisB-100 font-semibold mx-1">
                                ${incident.updated_at}
                            </span>

                        </div>
                    </div>
                </li>
                #{/if}
                #{/list}

            </ul>
        </div>
    </div>

</div>
