#{extends 'main.html' /}

#{set title:'Answer satisfaction form' /}

<form action="@{Satisfactions.create}" method="POST">
    ${flash.error}
    <select required name="satisfaction.mission.id">
        #{list mList, as:'m'}
        <option value="${m.id}">${m.getName()}</option>
        #{/list}
    </select>
    <input type="text" required placeholder="Note" name="satisfaction.note"/>
    <input type="text" required placeholder="Comment" name="satisfaction.comment"/>
    <!--    TODO: replace by currently logged in user-->
    <select required name="satisfaction.citizen.id">
        #{list cList, as:'c'}
        <option value="${c.id}">${c.getName()}</option>
        #{/list}
    </select>
    <hr />
    <button type="submit">Envoyer</button>
</form>
