#{extends 'main.html' /}

#{set title:'Register' /}

<div class="">
  #{ifErrors}
  <h1>Oops…</h1>

  #{errors}
  <li>${error}</li>

  #{/errors}
  <hr />
  #{/ifErrors}
</div>

<form action="@{Citizens.create}" method="POST"  class="p-12">
  <h3 class="mb-8 text-center font-medium text-gray-500" style="font-size: 3rem;">Register</h3>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="mail">
        Mail
      </label>
    </div>
    <div class="md:w-2/4">
      <input required name="citizen.mail"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
        type="text">
    </div>
  </div>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="password">
        Password
      </label>
    </div>
    <div class="md:w-2/4">
      <input required name="citizen.password"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
        type="password">
    </div>
  </div>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="fname">
        First name
      </label>
    </div>
    <div class="md:w-2/4">
      <input required name="citizen.fname"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
        type="text">
    </div>
  </div>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="lname">
        Last name
      </label>
    </div>
    <div class="md:w-2/4">
      <input required name="citizen.lname"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
        type="text">
    </div>
  </div>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="civility">
        Civility
      </label>
    </div>
    <div class="md:w-2/4">
      <div class="relative">
        <select required name="citizen.sex"
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
          <option>I do not want to answer</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
    </div>
  </div>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="address">
        Address
      </label>
    </div>
    <div class="md:w-2/4">
      <input required name="citizen.address"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
        type="text">
    </div>
  </div>



  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="phone">
        Phone
      </label>
    </div>
    <div class="md:w-2/4">
      <input required name="citizen.phone"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
        type="text">
    </div>
  </div>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="birthdate">
        Birthdate
      </label>
    </div>
    <div class="md:w-2/4">
      <input required name="citizen.birthdate"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-enedisB-100"
        type="date">
    </div>
  </div>

  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="nationality">
        Nationality
      </label>
    </div>
    <div class="md:w-2/4">
      <div class="relative">
        <select required name="citizen.nationality"
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option>French</option>
          <option>English</option>
          <option>German</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
    </div>
  </div>

  <input name="citizen.is_superuser" value="0" type="text" hidden>
  <input name="citizen.is_authority" value="0" type="text" hidden>

  <div class="md:flex md:items-center">
    <div class="md:w-1/4"></div>
    <div class="md:w-2/4">
      <button
        class="shadow bg-enedisB-100 hover:bg-enedisB-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit">
        Register
      </button>
    </div>
  </div>

</form>