#{extends 'main.html' /}

#{set title:'Report an incident' /}

<div class="">
    #{ifErrors}
    <h1>Oops…</h1>

    #{errors}
    <li>${error}</li>

    #{/errors}
    <hr/>
    #{/ifErrors}
</div>

<form action="@{Missions.create}" method="POST">
    ${flash.error}
    <input type="text" required placeholder="Title" name="mission.title"/>
    <input type="text" required placeholder="Type" name="mission.type"/>
    <input type="date" required name="mission.startedDate"/>
    <input type="date" name="mission.enddedDate"/>
    <select required multiple name="mission.incidentList.id">
        #{list iList, as:'incident'}
        <option value="${incident.id}">${incident.title}</option>
        #{/list}
    </select>
    <input type="text" required placeholder="Address" name="mission.address"/>
    <textarea required placeholder="Informations complémentaire" name="mission.informartions"></textarea>
    <select required multiple name="mission.superHeroList.id">
        #{list sList, as:'superHero'}
        <option value="${superHero.id}">${superHero.name}</option>
        #{/list}
    </select>

    <select required name="mission.gravityLevel">
        <option value="bas">bas</option>
        <option value="moyen">moyen</option>
        <option value="élevé">élevé</option>
        <option value="urgent">urgent</option>
    </select>

    <select required name="mission.emergencyLevel">
        <option value="moins urgent">moins urgent</option>
        <option value="urgent">urgent</option>
        <option value="très urgent">très urgent</option>
    </select>
    <input type="date" required name="mission.created_at"/>
    <hr/>
    <button type="submit">Envoyer</button>
</form>
