#{extends 'main.html' /}
#{set title:'Mission'/}
<div class="py-12">
    <div class="max-w-7xl mx-auto xs:px-3 sm:px-6 md:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            <div class="sm:px-20 xs:px-8 bg-white border-b border-gray-200">
                <div class="flex flex-column mt-8 mb-3">
                    <div class="md:flex md:items-center mb-6">

                        <div class="">
                            <h4 class="font-semibold" style="font-size: 3rem;">${mission.title}</h4>
                            <div class="text-xs ml-5 flex flex-row">
                                created on <span
                                    class="font-semibold text-enedisB-100 ml-1">${mission.created_at}</span>,
                                #{if mission.created_at != mission.updated_at}
                                updated last on <span
                                    class="font-semibold text-enedisB-100 ml-1">${mission.updated_at}, </span>
                                #{/if}
                            </div>
                            <div class="text-xs ml-5 flex flex-row">
                                located at <span class="font-semibold text-enedisB-100 ml-1">${mission.address}</span>
                            </div>
                            <p class="lead ml-4 mt-2">${mission.informations}</p>

                            <div class="flex flex-row mt-6 space-x-4">

                                #{if user?.is_authority || user?.is_superuser}
                                <a href="/mission_report/create/${mission.id}"
                                   class="bg-enedisG-100 border-enedisG-100 hover:bg-enedisG-500 focus:shadow-outline focus:outline-none hover:text-white text-white font-bold py-2 px-4 rounded"
                                   type="submit">
                                    <i class="fas fa-check"></i>
                                    End mission
                                </a>
                                <a href="/satisfaction/create/${mission.id}"
                                   class="bg-enedisB-100 border-enedisB-100 hover:bg-enedisB-500 focus:shadow-outline focus:outline-none text-white hover:text-white font-bold py-2 px-4 rounded"
                                   type="submit">
                                    <i class="fas fa-smile"></i>
                                    Satisfaction form
                                </a>
                                <a href="#"
                                   class=" bg-red-500 hover:text-white border-red-600 hover:bg-red-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                   type="submit">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    Close
                                </a>
                                #{/if}


                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>
