#{extends 'main.html' /}
#{set title:'Home' /}





<div class="py-12">
    <div
        class="flex flex-col md:flex-row items-center px-6 pt-16 pb-6 md:pt-32 md:pb-16 lg:pt-40 lg:pb-32 xl:pt-48 xl:pb-30">
        <div class="text-center md:max-w-4xl mx-auto">
            <p class="text-4xl md:text-5xl font-semibold pb-4">Project
                <!-- --> <span class="text-enedisB-100">Avengers</span> platform</p>
            <p class="text-xl md:text-2xl pb-8 text-gray-800">The easiest way for your civilians to talk
                to you and give you feedback.</p>
            <div class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-3 justify-center"><a
                    class="bg-enedisB-500 hover:bg-enedisB-100 active:bg-enedisB-100 text-white hover:text-white py-3 px-5 rounded-md transition duration-200 ease-in-out shadow font-medium"
                    #{if user} href="@{Incidents.create}" #{/if} #{else} href="@{Authentication.login}" #{/else}>
                    #{if user}
                    Report an Incident
                    #{/if}
                    #{else}
                    Log in
                    #{/else}
                </a>
                <div class="group relative flex items-center">
                    #{if user}
                    <a
                        href="@{Citizens.roleRequest}"
                        class="py-3 px-5 rounded-md transition duration-200 ease-in-out bg-gray-100 hover:bg-gray-200 active:bg-gray-300 font-medium shadow w-full">
                        Ask for roles
                    </a>
                    #{/if}
                    #{else}
                    <a class="py-3 px-5 rounded-md transition duration-200 ease-in-out bg-gray-100 hover:bg-gray-200 active:bg-gray-300 font-medium shadow w-full"
                        href="@{Authentication.register}">
                        Register
                    </a>
                    #{/else}

                </div>
            </div>

            <div class="flex flex-row space-x-4 w-full justify-center mt-8">
                #{if user.getSuperHero()}
                <a href="/superhero/show/${user.getSuperHero().id}"
                  class="h-8 px-3 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                  style="background-color: #febdb9;margin-top: 2px;color:#ff7068;">
                  <i class="fas fa-mask mr-2"></i>
                  ${user.getSuperHero().name}
                </a>
                #{/if}
                #{else}
                <a href="@{SuperHeroes.form}"
                  class="h-8 px-3 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                  style="background-color: #febdb9;margin-top: 2px;color:#ff7068">
                  <i class="fas fa-plus mr-2"></i>
                  Create a superhero
                </a>
                #{/else}
  
                #{if user.getOrg()}
                <a href="/organization/show/${user.getOrg().id}"
                  class="h-8 px-3 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                  style="background-color: #9ee68d;margin-top: 2px;color:#439430">
                  <i class="fas fa-building mr-2"></i>
                  ${user.getOrg().name}
                </a>
                #{/if}
                #{else}
                <a href="@{Organizations.form}"
                  class="h-8 px-3 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                  style="background-color: #9ee68d;margin-top: 2px;color:#439430">
                  <i class="fas fa-plus mr-2"></i>
                  Create an organization
                </a>
                #{/else}
  
                <a href="@{Notifications.showAll}"
                  class="h-8 px-3 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                  style="background-color: #fcf0cf;margin-top: 2px;color:#fdcf76;">
                  <i class="fas fa-bell mr-2" style=""></i>
                  Notifications
                  #{if notifications > 0}
                  <span class="absolute rounded-full bg-red-600 rounded h-2 w-2" style="top: 4px;right: 68px;"></span>
                  #{/if}
                </a>
            </div>
        </div>
    </div>
</div>