<!DOCTYPE html>

<html>

<head>
  <title>#{get 'title' /}</title>
  <meta charset="${_response_encoding}" />
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />


  #{get 'moreStyles' /}
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

</head>

<body class="font-sans antialiased">
  <div class="min-h-screen bg-gray-100">
    <nav class="bg-white border-b border-gray-100">
      <!-- Primary Navigation Menu -->
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <!-- Logo -->
            <div class="flex-shrink-0 flex items-center">
              <a href="/">
                <img width="100"
                  src="https://upload.wikimedia.org/wikipedia/commons/0/02/Marvel%27s_Avengers_2019_logo.png"
                  alt="AVENGERS" />
              </a>
            </div>

            <!-- Navigation Links -->
            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
              #{if user}
              <!-- <a class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{Application.dashboard}">
                Dashboard
              </a> -->


              #{if user.is_authority}
              <a class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{Incidents.showAll}">
                Incidents
              </a>
              #{/if}
              #{if user.is_authority || superhero}
              <a class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{Missions.showAll}">
                Missions
              </a>

              <a class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{MissionsReports.showAll}">
                Mission reports
              </a>

              <a class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out"
                 href="@{Crises.showAll}">
                Crises
              </a>
              #{/if}
              <div
                class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                <div class="dropdown-toggle">
                  <div class="cursor-pointer relative">
                    Declarations
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500"
                      style="margin-top: 5px;margin-right: -10px;">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        style="margin-right: -96px;">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="absolute z-50 mt-64 w-48 rounded-md shadow-lg dropdown-menu" style="display: none; margin-top: 264px;">
                  <div class="rounded-md shadow-xs py-1 bg-white">
                    <!-- Account Management -->
                    <div class="block px-4 py-2 text-xs text-gray-400">
                      Declarations
                    </div>

                    <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                      href="@{Incidents.create}">
                      Report an incident
                    </a>

                    <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                      href="@{Crises.create}">
                      Declare a crisis
                    </a>

                    <div class="border-t border-gray-100"></div>
                    <div class="block px-4 py-2 text-xs text-gray-400">
                      SuperHero / SuperVillain
                    </div>

                    #{if !superhero}
                    <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                      href="@{SuperHeroes.create}">Declare as superhero</a>
                    #{/if}
                    <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                      href="@{SuperVillains.create}">Unmask a supervillain</a>

                  </div>
                </div>




              </div>
              #{/if}
            </div>
          </div>

          <!-- Settings Dropdown -->
          <div class="hidden sm:flex sm:items-center sm:ml-6">

            #{if user}


            <div class="relative right-15 space-x-8 flex flex-row">
              #{if user.getOrg()}
              <a href="/organization/show/${user.getOrg().id}"
                class="h-8 w-8 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                style="background-color: #9ee68d;margin-top: 2px;">
                <i class="fas fa-building" style="color:#7bb36e"></i>
              </a>
              #{/if}
              #{else}
              <a href="@{Organizations.create}"
                class="h-8 w-8 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                style="background-color: #9ee68d;margin-top: 2px;">
                <i class="fas fa-plus" style="color:#7bb36e"></i>
              </a>
              #{/else}

              <a href="@{Notifications.showAll}"
                class="h-8 w-8 rounded-full flex items-center justify-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
                style="background-color: #fcf0cf;margin-top: 2px;">
                <i class="fas fa-bell" style="color:#fdcf76;"></i>
                #{if notifications > 0}
                <span class="absolute rounded-full bg-red-600 rounded h-2 w-2" style="top: 4px;right: 68px;"></span>
                #{/if}
              </a>

              <div class="dropdown-toggle">
                <button
                  class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">
                  <img class="h-8 w-8 rounded-full object-cover"
                    src="https://ui-avatars.com/api/?name=${user?.getName()}&amp;color=7F9CF5&amp;background=EBF4FF"
                    alt="${user?.getName()}" />
                </button>
              </div>

              <div class="absolute z-50 mt-2 w-48 rounded-md shadow-lg origin-top-right right-0 dropdown-menu"
                style="display: none; margin-top: 40px;" @click="open = false">
                <div class="rounded-md shadow-xs py-1 bg-white">
                  <!-- Account Management -->
                  <div class="block px-4 py-2 text-xs text-gray-400">
                    ${user?.getName()}
                  </div>

                  <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                    href="/citizen/show/${user?.id}">Profile</a>
                  #{if superhero == 0}
                  <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                    href="@{SuperHeroes.create}">Declare as superhero</a>
                  #{/if}
                  #{if user.is_superuser}
                  <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                    href="/superuser/showAll">Super-user
                  </a>
                  #{/if}

                  <div class="border-t border-gray-100"></div>

                  <!-- Team Management -->

                  <!-- Authentication -->

                  <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                    href="@{Authentication.logout}">Logout</a>
                </div>

              </div>
              #{/if}
              #{else}
              <div class="space-x-8">
                <a href="@{Authentication.login}"
                  class="inline-flex items-center h-16 px-1 pt-1 border-b-2 cursor-pointer border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Login</a>
                <a href="@{Authentication.register}"
                  class="inline-flex items-center h-16 px-1 pt-1 border-b-2 cursor-pointer border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Register</a>
              </div>

              #{/else}
            </div>

            <!-- Hamburger -->

          </div>
          <div class="-mr-2 flex items-center sm:hidden">
            <button @click="open = ! open" id="responsive-nav-toggle"
              class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path :class="{'hidden': open, 'inline-flex': ! open }" class="inline-flex" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                <path :class="{'hidden': ! open, 'inline-flex': open }" class="hidden" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>

        </div>

        <!-- Responsive Navigation Menu -->
        <div id="responsive-nav-content" class="hidden sm:hidden">
          #{if user}
          <div class="flex flex-col">
            <div class="flex flex-row">
              <div class="flex-shrink-0">
                <img class="h-10 w-10 rounded-full"
                  src="https://ui-avatars.com/api/?name=${user?.getName()}&amp;color=7F9CF5&amp;background=EBF4FF"
                  alt="${user?.getName()}" />
              </div>
              <div class="ml-3">
                <div class="font-medium text-base text-gray-800">
                  ${user?.getName()}
                </div>
                <div class="font-medium text-sm text-gray-500">
                  ${user?.mail}
                </div>
              </div>
            </div>



            <div class="mt-3 space-y-1">
              <!-- Account Management -->
              <a class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"
                href="/citizen/show/${user?.id}">
                Citizen profile
              </a>
              <a class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{SuperHeroes.create}">
                Declare as superhero
              </a>

              #{if user.is_superuser}
              <a class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"
                href="#">
                Super-user
              </a>
              #{/if}

              <!-- Authentication -->

              <a class="block mb-2 pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{Authentication.logout}">
                Logout
              </a>
            </div>
          </div>

          #{/if}

          #{else}
          <div class="flex flex-column">
            <div class="mt-3 space-y-1">
              <a class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{Authentication.login}">
                Login
              </a>
              <a class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"
                href="@{Authentication.register}">
                Register
              </a>
            </div>
          </div>

          #{/else}
        </div>
    </nav>

    <!-- Page Heading -->
    #{if flash.error}
    <div class="absolute top-15 right-15">
      <div class="shadow rounded bg-red-100 border-r-4 border-red-500 text-red-700 p-4" role="alert">
        <p class="font-bold">Error</p>
        <p>${flash.error}</p>
      </div>
    </div>
    #{/if}
    <main>#{doLayout /}</main>
  </div>
  <input hidden id="is_user" value="#{ if user } 1 #{/if}">
  <script>
    (function () {
      if (document.getElementById('is_user').value === " 1 ") {
        document.querySelectorAll('.dropdown-toggle').forEach((element, key) => {
          element.addEventListener('click', () => {
            let menu = document.querySelectorAll('.dropdown-menu')[key];
            menu.style.display = (menu.style.display === "none" ? "block" : "none")
          })
        })
      }



      document.getElementById("responsive-nav-toggle").addEventListener('click', () => {
        document.getElementById("responsive-nav-content").classList.toggle("hidden");
      })
    })();

  </script>

  <script src="@{'/public/javascripts/app.js'}"></script>
  #{get 'moreScripts' /}
</body>

</html>
